html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background-color: #F4C4E6;
	color: white;
	font-family: "Cabin","sans-serif";
}
/*body.loading {
	overflow: hidden;
}*/

@font-face {
    font-family: Ahsing;
    src: url("./Ahsing-Regular.otf") format("opentype");
}

div.loading {
	background: radial-gradient(circle at 50% 50%, #0DD9D9 0%, #FCFF79 25%, #F20574 50%, #F4C4E6 100%);
	height: 100vh;
	width: 100vw;
 	display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hidden {
	animation: FadeUpAndOut;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes FadeUpAndOut {
  0%   {opacity:1; height: 100vh;}
  10%   {opacity:1; height: 100vh;}
  20%   {opacity:1; height: 100vh;}
  30%   {opacity:0.8; height: 100vh;}
  40%   {opacity:0.5; height: 100vh;}
  50%  {opacity:0.2; height: 100vh;}
  100% {opacity:0; height: 0px;}
}


.loading img {
  width: 20%;
  animation: PulsingHeart;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.loading a {
	text-decoration: none;
	display: block;
    width: 100%;
    text-align: center;
}

@keyframes PulsingHeart {
  0%   {width: 20%; }
  50%  {width: 30%; }
  100% {width: 20%; }
}

.content a, .content a:hover, .content a:visited{
	display: block;
	text-decoration: none;
	color: white;
}
.content a.card {
	font-family: 'Ahsing', serif;
	font-size: 20vw;
	line-height: 1em;	
	display: flex;
	align-items: center;
    justify-content: center;
    text-align: center;

	height: 100vh;
}


a.wireland_bg {
   background: url(../images/wireland.png) 0 0 / cover no-repeat;
   background-position: center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.pageContent {
	background-image: url(../images/wireland.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
#nav {
	padding: 0px 2em;
	padding-top: 2em;
	display: flex;
}

#nav .links {
	list-style: none;
	text-transform: uppercase;
	margin-left: auto;
}
#nav .links li {
	display: inline-block;
	cursor: pointer;
	padding: 0.65em;
	font-size: 1.25em;
	border-radius: 1em;
}
#nav .links li a, #nav .links li a:hover, #nav .links li a:visited{
	text-decoration: none;
	color:unset;
}
#nav .links li.selected {
	background-color: #fff;
	color: #BF4B96;
}

#nav .links li:hover {
	background-color: rgba(255,255,255,0.35);
}

#nav .logoText {
	color: #000;
	font-family: 'Ahsing', serif;
    font-size: 5vw;
    max-width: 25vw;
    line-height: 0.75em;
}

#nav .logoText div {
	color: #fff;
	display: inline-block;
	font-size: 50%;
	margin-top: -0.5em;
}